@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Default Theme: Education (Indigo) */
    --color-primary-50: #eef2ff;
    --color-primary-100: #e0e7ff;
    --color-primary-500: #6366f1;
    --color-primary-600: #4f46e5;
    --color-primary-700: #4338ca;
    --color-primary-900: #312e81;
    --color-primary-950: #1e1b4b;

    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

body {
  @apply bg-white text-slate-900;
}
